# Any copyright is dedicated to the Public Domain.
# https://creativecommons.org/publicdomain/zero/1.0/

[Unit]
Description=Run autoscrub every day
Requires=sanoid.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
